  /* Estilo para os indicadores (pontos) do Carousel */
  .carousel-indicators {
    bottom: 10px; /* Distância do fundo */
  }
  
  /* Estilo para as imagens no Carousel */
  .carousel-item img {
    background-repeat: no-repeat;
    object-fit: cover; /* Ajuste para cobrir o tamanho do contêiner */
    height: 90vh; /* Altura fixa das imagens */
    border-radius: 10px; /* Borda arredondada */
    padding: 2%;
  }
  
  /* Adicione outros estilos conforme necessário */
  